*.pyc
conf.py
__pycache__
venv
blog/LICENSE
blog/*.js
blog/*.json
blog/*.md
blog/core/
**/node_modules/
blog/content/package-lock.json
blog/content/themes/casper/
blog/content/apps/
blog/content/data/
blog/content/images/
blog-v1/config.production.json
